* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Chalkduster", fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#d1d5db .5vmin, transparent 0px);
    background-size: 100% 4.5vmin;
}

header {
    font-size: 8vmin;
    letter-spacing: 0.5vmin;
}

h1 {
    font-size: 5vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
}

#board > div {
    border: 2vmin solid black;
    margin: vmin;
}

#board #c0, #board #c1, #board #c2 {
    border-top: none;
}

#board #c0, #board #c3, #board #c6 {
    border-left: none;
}

#board #c6, #board #c7, #board #c8 {
    border-bottom: none;
}

#board #c2, #board #c5, #board #c8 {
    border-right: none;
}

#board > div:hover {
    background-color: lightblue;
}

button {
    font-family: "Monaco", monospace;
    background-color: lightblue;
    border: 10vmin black;
    margin-top: 4vmin;
    padding: 3vmin;
    font-size: 3vmin;
    border-radius: 3vmin;
}

button:hover {
    color: white;
    background-color: grey;
    ;
}

 .x:after {
    content: "X";
    text-align: center;
    font-size: 15vmin;
}

.o:after {
    content: "O";
    text-align: center;
    font-size: 15vmin; 
}
    

.blank {
   
}

